{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@common": "./src/common",
          "@components": "./src/components",
          "@pages": "./src/pages",
          "@hooks": "./src/hooks",
          "@utils": "./src/utils",
          "@features": "./src/features",
          "@state": "./src/state",
          "@services": "./src/services"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
